{% extends "layouts/base.html" %}

{% block title %} Dự án - Danh sách {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Quản lý</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../index.html"><i
                                        class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Công ty</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Danh sách</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">

                        <!-- [ Hover-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Danh sách công ty đã đăng ký</h5>
                                    <span class="d-block m-t-5">Số lượng : {{ projects.count() }}</span>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {% if projects.count() > 0 %}
                                            {#                                    <div class="card-block table-border-style">#}
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">ID</th>
                                                        {#                                                        <th>Tên dự án</th>#}
                                                        <th>Công ty</th>
                                                        <th class="text-center">Số lượng tuyển</th>
                                                        <th class="text-center">Số lượng ứng tuyển
                                                        </th>
                                                        <th class="text-center">Số lượng đã tuyển dụng
                                                            thành
                                                            công
                                                        </th>
                                                        <th class="col-1 text-center">Thông tin dự án</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for project in projects %}
                                                        <tr>
                                                            <th scope="row"
                                                                class="text-center">{{ project.id }}</th>
                                                            {#                                                            <td class="d-inline-block text-truncate" >{{ id.title }}</td>#}
                                                            <td>{{ project.company.name }}</td>
                                                            <td class="text-center">{{ project.demand_qty }}</td>
                                                            <td class="text-center">nan</td>
                                                            <td class="text-center">nan</td>
                                                            <td class="text-center"><a
                                                                    href="{{ url_for('id.profile', id=project.id,_external=True) }}"
                                                                    class="feather icon-alert-circle center text-warning h4"></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}


                                                    </tbody>
                                                </table>
                                            </div>
                                            </div>
                                        {% else %}
                                            <span>Chưa dự án nào được đăng ký. Vui lòng đăng ký</span>
                                        {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
