{% extends "layouts/base.html" %}

{% block title %} Ứng viên - Đăng ký {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Quản lý</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Ứng viên</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Biểu mẫu</h5>
                                </div>
                                <div class="card-body">

                                    <h5>{{ message|safe }}</h5>
                                    <hr>
                                    <div class="row">
                                        <div class="col col-xl-12">
                                            <form action="{{ url_for('candidate.registration') }}" method="post">
                                                {{ form.csrf_token }}
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            {{ form.name.label }}
                                                            {{ form.name(class_="form-control") }}
                                                            {#                                                <small id="emailHelp" class="form-text text-muted"></small>#}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            {{ form.address.label }}
                                                            {{ form.address(class_="form-control") }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-md-6">
                                                        <div class="form-group">
                                                            {{ form.gender.label }}<br>
                                                            {% for gender in form.gender %}
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    {{ gender(class_="custom-control-input") }}
                                                                    {{ gender.label(class_="custom-control-label") }}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="col col-md-6">
                                                        <div class="form-group">
                                                            {{ form.date_of_birth.label }}
                                                            {{ form.date_of_birth(class_="form-control") }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-md-6">
                                                        <div class="form-group">
                                                            {{ form.phone.label }}
                                                            {{ form.phone(class_="form-control") }}
                                                        </div>
                                                    </div>
                                                    <div class="col col-md-6">
                                                        <div class="form-group">
                                                            {{ form.email.label }}
                                                            {{ form.email(class_="form-control") }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col col-md-6">
                                                        <div class="form-group">
                                                            {{ form.identity_no.label }}
                                                            {{ form.identity_no(class_="form-control") }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {{ form.submit(class_="btn btn-primary") }}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}